<!DOCTYPE html>
<html>
    {{!--* It serves as a skeleton or container for your content. --}}
<head> 
    <meta charset="utf-8">
    <link rel="stylesheet" href="CSS/semantic.min.css">

    <title>Noah's Tech Blog</title>
</head>
<body>
    <div class="ui menu">
  <div class="header item">
    Our Company
  </div>
  <a class="item">
    About Us
  </a>
  <a class="item">
    Jobs
  </a>
  <a class="item">
    Locations
  </a>
</div>
    <main>
        <h2>these headers are from main.handlebars, which is a layout "parent" template</h2>
        <h3>content from the child template:</h3>
        {{{body}}}
        <h4>triple 'staches indicate that the content of body should be interpreted as html </h4>
        <h4>double 'staches indicate just individual placeholders for strings</h4>
    </main>

</body>
</html>