{{!--* homepage, which includes existing blog posts if any have been posted; navigation links for the homepage and the dashboard; and the option to log in --}}
<h2 class="ui header">Recent Posts:</h2>
{{#each posts as |post|}}
<h3 class="ui grey top attached header">
 <a href="/post/{{post.id}}">{{post.title}}</a> 
</h3>
<div class="ui attached segment">
  <p>{{post.text}}</p>
  <p><em>Written by:</em> {{post.user.username}}</p>
</div>
{{/each}}