{{!--* homepage, which includes existing blog posts if any have been posted; navigation links for the homepage and the dashboard; and the option to log in --}}
{{#each posts as |post| }}
<div class="card">
    <div class="content">
        <div class="header">{{post.title}}</div>
        <div class="meta"></div>
        <div class="description"> {{ post.text }} </div>
    </div>
</div>
{{/each}}