<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui black header">Log In</h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="Username" id="username-login">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password" id="password-login">
                    </div>
                </div>
                <button class="ui fluid black submit button" id="submit">Log in</button>
                <div class="ui error message"> <p> Error processing request. Check the spelling of your username and password.</p></div>
                <div class="ui message">Don't have an account?   a href: /reg  <a href="/reg">Sign up</a></div>
            </div>
        </form>
    </div>
</div>

<script src="js/login.js"></script>