<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui black header">Log In</h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="Email Address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="ui fluid black submit button">Log in</div>
                <div class="ui error message">Error processing request. Check the spelling of your username and password.</div>
                <div class="ui message">Don't have an account?   a href: /reg<a href="/reg"></a></div>
            </div>
        </form>
    </div>
</div>