<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui black header">Create a Post:</h2>
        {{!-- form that matches Post.js model --}}
        <form id ="post-form" class="ui large form" >
            <div class="ui stacked segment">
                <div class="field">
                    <input type="text" name="title" id="post-title" placeholder="Give your Post a title">
                </div>
                <div class="field">
                    <textarea name="text" id="post-text" placeholder="Write your post here"></textarea>
                </div>        
            </div> 
                
                <button id="create-post" type="submit" class="ui fluid black submit button">Create Post</button>
        </form>
        <h2 class="ui header">My Posts:</h2>
        {{!-- display the user's posts --}}
        {{#each posts}}
            <div class="ui attached segment">
                <h3 class="ui grey top attached header">
                    <a href="/post/{{this.id}}">{{this.title}}</a>
                </h3>
                <p>{{this.text}}</p>
                
            </div>
        {{/each}}
    </div>

</div>
<script src="js/post.js"></script>
    