<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui black header">Sign Up</h2>
        <form class="ui large form">
            
            <div class="ui stacked segment">
                <p>Enter a new username and password for your account:</p>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" id="username-create" placeholder="Username">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="keyboard outline icon"></i>
                        <input type="password" name="password" id="password-create" placeholder="Password">
                    </div>
                </div>
                <div class="ui fluid black submit button" id="sign-up-submit">Sign Up</div>
            </div>
        </form>
    </div>
</div>

<script src="js/sign-up.js"></script>